@import './sass/reset';
@import './sass/colors';

.header {
  margin-top: 0;
  background: $c-black;
  text-align: center;

  &__logo {
    width: 60px;
    cursor: pointer;
  }
}

.shows .show {
  display: block;
  padding: 5px;
  text-decoration: none;
  background: $c-grey;
  margin: 1px;
  border: 1px solid darken($color: $c-grey, $amount: 5);
}
