@import './sass/reset';
@import './sass/colors';

body {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  vertical-align: middle;
  display: inline-block;
  width: 100%;
}

// for clearing floats
.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

a {
  color: $c-blue;
}
